<.live_component 
    module={MtgTreacheryWeb.GameLive.FormComponent}
    id={:new}
    title={@page_title}
    action={@live_action}
    user_uuid={@user_uuid}
    game={@game}
    navigate={~p"/game"}
/>